<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="https://compliancepack.net/favicon.ico" type="image/x-icon">
  <title>Compliance Web Application</title>
</head>
<body>
  <v-app id="app">
    <v-app-bar flat dense bar app v-if="isUserLogged" :color="bg">
      <span class="mr-2 d-flex noselect">
        <img src="https://compliancepack.net/image/icon/compliance_32x.png" style="max-height: 100%; height: 30px; filter: brightness(0) invert(1);">
      </span>
      <v-tabs>
        <v-tab v-for="(tab, index) in validsTabs" :key="tab.to" :to="tab.to">{{ tab.label }}</v-tab>
      </v-tabs>
      
      <div>
        <v-tooltip 
          bottom
          color="red"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn 
              :style="{
                'background-image': 'url(' + user.banner + ') !important',
                'background-size': 'cover !important',
                'height': '32px'
              }"
              v-bind="attrs"
              v-on="on"
              class="banner-btn"

              @click="logout"
            >
              {{ user.username }}
            </v-btn>
          </template>
          <span>Logout</span>
        </v-tooltip>
        <v-avatar size="32" rounded :style="{ 'margin-left': '5px' }"><img :src="user.avatar" :alt="user.username"></v-avatar>
      </div>
      
    </v-app-bar>

    <v-main>
    <router-view v-if="isUserLogged"></router-view>

    <div v-else
      :style="{
        'display': 'flex',
        'justify-content': 'center',
        'align-items': 'center',
        'height': '100%',
        'flex-direction': 'column'
      }"
    >
      <img src="https://compliancepack.net/image/icon/compliance_32x.png"
        :style="{
          'height': '256px',
          'image-rendering': 'pixelated'
        }"
      >
      <h2 class="compliance-font" align="center" style="text-shadow: 2px 2px rgba(0,0,0,.7); margin-bottom: 20px;">COMPLIANCE WEB<br>APPLICATION</h2>
      <v-btn 
        href="/api/discord/login" 
        :style="{
          'background': 'hsl(235,85.6%,64.7%) !important',
          'color': '#FFF'
        }"
      >
        <v-icon left>mdi-discord</v-icon>
        Login via Discord
      </v-btn>
    </div>
    </v-main>

    <v-bottom-navigation height="42px" id="bottom" style="box-shadow: none">
      &copy; Compliance Team {{ year }}
    </v-bottom-navigation>

    <v-snackbar
      v-model="snackbar.show"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      bottom
      right
    >
      {{ snackbar.message }}
    </v-snackbar>
  </v-app>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/twin-bcrypt@2/twin-bcrypt.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.1/dist/vue-router.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <link rel="stylesheet" href="/compliapp.css">
  <script src="/compliapp.js" type="module"></script>
</body>
</html>
