@font-face {
  font-family: Compliance;
  src: url("./Compliance.ttf") format("truetype");
}

a { text-decoration: none; }

.noselect, .noselect * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;

  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}

#app {
  background: #120E19 url(https://compliancepack.net/image/background/the_end.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#app .v-toolbar {
  border-bottom: 2px solid rgba(0,0,0,0.5)
}

#app .v-tabs {
  width: auto;
}
#app .v-tab {
  height: 100%;
  line-height: 48px;
  text-transform: none;
}

.selected {
  background-color: #22202c;
}

#bottom {
  overflow: hidden;
  line-height: 42px;
  background: transparent;
}

.v-list {
  border-radius: 15px !important;
}

.v-list, .v-input__slot, .v-card {
	backdrop-filter: blur(10px);
}
.v-btn {
	background: rgba(39, 39, 39, 0.8) !important;
	backdrop-filter: blur(10px);
}
.banner-btn span {
  text-shadow: 2px 2px #000;
}

.v-text-field {
  margin-bottom: 12px;
}

.v-messages, .v-select__selection {
  padding-left: 8px;
}

.v-text-field__slot input, .v-text-field__slot textarea {
  padding: 8px 0 8px 8px;
}

.v-text-field__slot label, .v-select__slot label {
  padding-left: 8px;
}

.v-label--active {
  top: 2px !important;
}

.texture-img > .v-image__image {
  background-size: contain !important;
  image-rendering: pixelated;
}

.v-chip {
  border-radius: 4px !important;
}
.v-chip__content > .v-avatar {
  border-radius: 0 !important;
}

.compliance-font {
  font-family: Compliance;
}

h2.compliance-font {
  font-weight: 600;
}

.router-link {
  padding: 8px 16px;
  width: 100%
}

.router-link:hover {
  background-color: rgba(255,255,255,.3);
}

blockquote {
  margin-left: 15px;
  border-left: 5px solid rgba(255,255,255,.3) ;
  padding-left: 10px;
}

.profileList {
  background-color: #0000 !important;
  border-radius: 3px !important;
  margin-bottom: 10px;
  padding: 30px 5px 20px 5px;
}

.v-input__control {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.height-90 {
  max-height: 90px !important;
}

.transparent-input > .v-input__control > .v-input__slot{
  backdrop-filter: none !important;
}

.container {
  max-width: 60%;
}

@media (max-width: 1080px) {
  .container {
    max-width: 90%;
  }
}

@media (max-width: 720) {
  .container {
    max-width: 100%;
  }
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
  margin-right: 4px;
}

.v-input--selection-controls {
  margin-top: 0px !important;
}

.v-btn__content > .v-input--selection-controls {
  margin-top: 16px !important;
}