<!DOCTYPE html>
<html lang="EN">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.9.95/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.4/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <meta name="theme-color" content="#272727">
  <link rel="icon" type="image/png" sizes="32x32"   href="https://faithfulpack.net/image/pwa/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="https://faithfulpack.net/image/pwa/app-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16"   href="https://faithfulpack.net/image/pwa/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://faithfulpack.net/image/pwa/apple-touch-icon-180x180.png">
  <link rel="stylesheet" href="./resources/css/compliapp.css">
  <title>Faithful Web Application</title>
</head>
<body>
  <v-app id="app" ref="app" :dark="dark" :light="!dark">
    <v-app-bar flat dense bar app v-if="isUserLogged && window.width > 700">
      <span class="monochrome-logo mr-2 d-flex noselect">
        <img src="https://database.faithfulpack.net/images/branding/logos/transparent/512/plain_logo.png">
      </span>

      <v-menu
        v-for="(tab, tabIndex) in validsTabs"
        offset-y
        rounded="sm"
        :key="tabIndex"
      >
        <template v-slot:activator="{ attrs, on }">
          <v-btn
            text
            v-bind="attrs"
            v-on="on"
            v-text="tab.labelText"
            :disabled="tab.to ? !tab.enabled : false"
            :to="tab.to ? tab.to : ''"
          />
        </template>
        <v-list v-if="tab.subtabs">
          <v-list-item
            v-for="(subtab, index) in tab.subtabs" :key="index" link :to="subtab.to" :disabled="!subtab.enabled"
          >
            <v-list-item-icon v-if="subtab.icon" style="margin-right: 5px;"><v-icon small style="color: inherit" v-text="subtab.icon"/></v-list-item-icon>
            <v-list-item-content><v-list-item-title v-text="subtab.labelText" class="uppercased"/></v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      
      <div style="margin-left: auto;">
        <v-tooltip 
          bottom
          color="red"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn 
              :style="{
                'background-image': 'url(' + user.banner + ') !important',
                'background-size': 'cover !important',
                'height': '32px',
                'background-position': '0% 80% !important'
              }"
              v-bind="attrs"
              v-on="on"
              class="banner-btn white--text"

              @click="logout"
            >
              {{ user.username }}
            </v-btn>
          </template>
          <span>{{ $root.lang().global.logout }}</span>
        </v-tooltip>
        <v-avatar size="32" rounded :style="{ 'margin-left': '5px' }"><img :src="user.avatar" :alt="user.username"></v-avatar>
      </div>
    </v-app-bar>

    <v-app-bar flat dense bar app v-if="isUserLogged && window.width <= 700" class="small-appbar">
      <span class="mr-2 d-flex noselect">
        <v-app-bar-nav-icon small @click="drawer = true"></v-app-bar-nav-icon>
      </span>

      <span class="monochrome-logo mr-2 d-flex noselect">
        <img src="https://database.faithfulpack.net/images/branding/logos/transparent/512/plain_logo.png" />
      </span>
    </v-app-bar>

    <v-navigation-drawer width="320" fixed v-model="drawer" v-if="isUserLogged && window.width <= 700" temporary>

      <v-card class="rounded-t-0">
        <v-img height="128" :src="user.banner">
          <v-card-title class="banner-btn">
            <v-avatar size="48" style="margin-right: 10px">
              <img
                alt="user"
                :src="user.avatar"
              >
            </v-avatar>
            <span class="white--text">{{ user.username }}</span>
          </v-card-title>
          <v-card-actions style="justify-content: flex-end">
            <v-btn small color="red white--text" @click="logout">
              {{ $root.lang().global.logout }}
            </v-btn>
          </v-card-actions>
        </v-img>
      </v-card>

      <template
        v-for="(tab, tabIndex) in validsTabs"
      >
        <v-list
          :key="'item-' + tabIndex"
          dense
          nav
        >
          <v-list-item-title class="uppercased-unsized">
            {{ tab.labelText }}
          </v-list-item-title>

          <v-list-item v-if="tab.subtabs" v-for="(subtab, subtabIndex) in tab.subtabs" :key="subtabIndex" :to="subtab.to" :disabled="!subtab.enabled" class="uppercased-unsized">
            <v-list-item-icon v-if="subtab.icon" style="margin-right: 5px;">
              <v-icon small style="color: inherit">{{ subtab.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="subtab.labelText" class="uppercased" />
            </v-list-item-content>
          </v-list-item>

          <v-list-item v-if="tab.to" :to="tab.to" :disabled="!tab.enabled" class="uppercased-unsized">
            <v-list-item-icon v-if="tab.icon" style="margin-right: 5px;">
              <v-icon small style="color: inherit">{{ tab.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="tab.labelText" class="uppercased" />
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider :key="'divider-' + tabIndex" style="margin-bottom: 10px" />
      </template>
    </v-navigation-drawer>

    <v-main>
      <router-view v-if="isUserLogged"></router-view>

      <div v-else
        :style="{
          'display': 'flex',
          'justify-content': 'center',
          'align-items': 'center',
          'height': '100%',
          'flex-direction': 'column'
        }"
      >
        <img src="https://database.faithfulpack.net/images/branding/logos/transparent/512/plain_logo.png"
          :style="{
            'height': '256px',
            'image-rendering': 'pixelated'
          }"
        >
        <h2 id="connect-title" class="faithful-font uppercased-unsized">{{ $root.lang().global.name }}</h2>
        <v-btn 
          href="/api/discord/login" 
          :style="{
            'background': 'hsl(235,85.6%,64.7%) !important',
            'color': '#FFF'
          }"
        >
          <v-icon left>mdi-discord</v-icon>
          {{ $root.lang().global.login }}
        </v-btn>
      </div>
    </v-main>

    <v-bottom-navigation id="bottom" style="box-shadow: none" height="auto" class="mb-2">
      <span>
        &copy; Faithful Team {{ year }}
      </span><v-card id="theme" class="d-inline-block ml-2">
        <v-card
          v-for="(icon, key) in themes"
          :key="key"
          flat
          rounded
          :class="['pa-2 d-inline-block', { 'active primary': theme === key }]"
          @click="theme = key"
        >
          <v-icon class="theme-icon">
            {{ icon }}
          </v-icon>
        </v-card>
      </v-card>
    </v-bottom-navigation>
    <v-radio-group row v-model="selectedLang" style="margin-left: auto; margin-right: auto;" hide-details class="pb-2">
      <v-radio class="uppercased" v-for="(lang, key) in langs" :key="key" :label="key" :value="key" hide-details>
      </v-radio>
    </v-radio-group>

    <v-snackbar
      v-model="snackbar.show"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      multi-line
      bottom
      right
    >
      {{ snackbar.message }}
    </v-snackbar>
  </v-app>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.3/dist/vue-router.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.26.1/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/twin-bcrypt@2.1.1/twin-bcrypt.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.4/dist/vuetify.min.js"></script>
  <!-- 
  marked should probably be updated to the newest version sometime (4.0.x)
  but would need another package for sanitisation, because they removed the functionality in version 0.7.0
  DO NOT IGNORE THIS WARNING ROLF!!!!!!!!!!
  -->
  <script src="https://cdn.jsdelivr.net/npm/marked@0.6.3/marked.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/prism.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-prism-editor@1.3.0/dist/prismeditor.umd.production.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7.3.0/dist/d3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.1.3/dist/v-tooltip.min.js"></script>

  <script src="./validator.js"></script>
  <script src="./compliapp.js" type="module"></script>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-prism-editor@1.3.0/dist/prismeditor.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.27.0/themes/prism-tomorrow.min.css" />
</body>
</html>
