<!DOCTYPE html>
<html lang="EN">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="https://compliancepack.net/favicon.ico" type="image/x-icon">
  <title>Compliance Web Application</title>
</head>
<body>
  <v-app id="app">
    <v-app-bar flat dense bar app v-if="isUserLogged && window.width > 700">
      <span class="mr-2 d-flex noselect">
        <img src="https://compliancepack.net/image/icon/compliance_32x.png" style="max-height: 100%; height: 30px; filter: brightness(0) invert(1);">
      </span>

      <v-menu
        v-for="(tab, tabIndex) in validsTabs"
        offset-y
        rounded="sm"
        :key="tabIndex"
      >
        <template v-slot:activator="{ attrs, on }">
          <v-btn
            text
            v-bind="attrs"
            v-on="on"
            v-text="tab.labelText"
          />
        </template>
        <v-list>
          <v-list-item
            v-for="(subtab, index) in tab.subtabs" :key="index" link :to="subtab.to" :disabled="!subtab.enabled"
          >
            <v-list-item-icon v-if="subtab.icon" style="margin-right: 5px;"><v-icon small :color="!subtab.enabled ? 'rgba(255,255,255,.3)' : 'white'" v-text="subtab.icon"/></v-list-item-icon>
            <v-list-item-content><v-list-item-title v-text="subtab.labelText" class="uppercased"/></v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      
      <div style="margin-left: auto;">
        <v-tooltip 
          bottom
          color="red"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn 
              :style="{
                'background-image': 'url(' + user.banner + ') !important',
                'background-size': 'cover !important',
                'height': '32px'
              }"
              v-bind="attrs"
              v-on="on"
              class="banner-btn"

              @click="logout"
            >
              {{ user.username }}
            </v-btn>
          </template>
          <span>{{ $root.lang().global.logout }}</span>
        </v-tooltip>
        <v-avatar size="32" rounded :style="{ 'margin-left': '5px' }"><img :src="user.avatar" :alt="user.username"></v-avatar>
      </div>
    </v-app-bar>

    <v-app-bar flat dense bar app v-if="isUserLogged && window.width <= 700" class="small-appbar">
      <span class="mr-2 d-flex noselect">
        <v-app-bar-nav-icon small @click="drawer = true"></v-app-bar-nav-icon>
      </span>

      <span class="mr-2 d-flex noselect">
        <img src="https://compliancepack.net/image/icon/compliance_32x.png"
          style="max-height: 100%; height: 30px; filter: brightness(0) invert(1);">
      </span>
    </v-app-bar>

    <v-navigation-drawer width="320" absolute v-model="drawer" v-if="isUserLogged && window.width <= 700" absolute temporary>

      <v-card>
        <v-img height="128" :src="user.banner">
          <v-card-title class="banner-btn">
            <v-avatar size="48" style="margin-right: 10px">
              <img
                alt="user"
                :src="user.avatar"
              >
            </v-avatar>
            <span>{{ user.username }}</span>
          </v-card-title>
          <v-card-actions style="justify-content: flex-end">
            <v-btn small color="red" @click="logout">
              {{ $root.lang().global.logout }}
            </v-btn>
          </v-card-actions>
        </v-img>
      </v-card>

      <template
        v-for="(tab, tabIndex) in validsTabs"
      >
        <v-list
          dense
          nav
        >
          <v-list-item-title class="uppercased-unsized">
            {{ tab.labelText }}
          </v-list-item-title>

          <v-list-item v-for="(subtab, subtabIndex) in tab.subtabs" :key="subtabIndex" :to="subtab.to" :disabled="!subtab.enabled"  class="uppercased-unsized">
            <v-list-item-icon v-if="subtab.icon" style="margin-right: 5px;">
              <v-icon small :color="!subtab.enabled ? 'rgba(255,255,255,.3)' : 'white'">{{ subtab.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="subtab.labelText" class="uppercased"/>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <v-divider style="margin-bottom: 10px" />
      </template>
    </v-navigation-drawer>

    <v-main>
      <router-view v-if="isUserLogged"></router-view>

      <div v-else
        :style="{
          'display': 'flex',
          'justify-content': 'center',
          'align-items': 'center',
          'height': '100%',
          'flex-direction': 'column'
        }"
      >
        <img src="https://compliancepack.net/image/icon/compliance_32x.png"
          :style="{
            'height': '256px',
            'image-rendering': 'pixelated'
          }"
        >
        <h2 class="compliance-font uppercased-unsized" align="center" style="width: 200px; text-shadow: 2px 2px rgba(0,0,0,.7); margin-bottom: 20px;">{{ $root.lang().global.name }}</h2>
        <v-btn 
          href="/api/discord/login" 
          :style="{
            'background': 'hsl(235,85.6%,64.7%) !important',
            'color': '#FFF'
          }"
        >
          <v-icon left>mdi-discord</v-icon>
          {{ $root.lang().global.login }}
        </v-btn>
      </div>
    </v-main>

    <v-bottom-navigation height="42px" id="bottom" style="box-shadow: none">
      &copy; Compliance Team {{ year }}
    </v-bottom-navigation>
    <v-radio-group row v-model="selectedLang" style="margin-left: auto; margin-right: auto;">
      <v-radio class="uppercased" v-for="(lang, key) in langs" :key="key" :label="key" :value="key">
      </v-radio>
    </v-radio-group>

    <v-snackbar
      v-model="snackbar.show"
      :timeout="snackbar.timeout"
      :color="snackbar.color"
      bottom
      right
    >
      {{ snackbar.message }}
    </v-snackbar>
  </v-app>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.4.0/marked.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/twin-bcrypt@2/twin-bcrypt.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.5.1/dist/vue-router.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/vue-prism-editor"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-prism-editor/dist/prismeditor.min.css" />
  <script src="https://unpkg.com/prismjs/prism.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/prismjs/themes/prism-tomorrow.css" />
  <link rel="stylesheet" href="./compliapp.css">
  <script src="./validator.js"></script>
  <script src="./compliapp.js" type="module"></script>
</body>
</html>
