@font-face {
  font-family: Compliance;
  src: url("../fonts/Compliance.ttf") format("truetype");
  
}

@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?sn8f0g');
  src:  url('../fonts/icons.eot?sn8f0g#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?sn8f0g') format('truetype'),
    url('../fonts/icons.woff?sn8f0g') format('woff'),
    url('../fonts/icons.svg?sn8f0g#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons';
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 6px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-something: grayscale;
}

.icon-mojang-red:before {
  content: "\e900";
  color: #ec343c;
}
.icon-mojang-white:before {
  content: "\e901";
  color: #fff;
}
.icon-people:before {
  content: "\e902";
  color: #fff;
}
.icon-peoples:before {
  content: "\e903";
  color: #fff;
}
.icon-time:before {
  content: "\e904";
  color: #fff;
}

/* Keep background from #app when the page is loading */
html {
  background: #120E19 url(https://compliancepack.net/image/background/the_end.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

/* Used to hide the content when the page is loading */
v-app {
  display: none;
}

a { text-decoration: none; }

.noselect, .noselect * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;

  /* Hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}

#app {
  background: #120E19 url(https://compliancepack.net/image/background/the_end.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

#app .v-toolbar {
  border-bottom: 2px solid rgba(0,0,0,0.5)
}

#app .v-tabs {
  width: auto;
}
#app .v-tab {
  height: 100%;
  line-height: 48px;
  text-transform: none;
}

div.tooltip {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  font-size: 12px;
  padding: 4px 8px;
  background: #333;
  color: white;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

div.tooltip .number {
  font-size: 18px;
  font-weight: 600;
}

div.tooltip.vue-tooltip-theme {
	background: transparent;
}

.selected {
  background-color: #22202c;
}

#bottom {
  overflow: hidden;
  line-height: 42px;
  background: transparent;
}

.v-list, .v-input__slot, .v-card, .v-expansion-panel {
	backdrop-filter: blur(10px);
}
.v-btn {
	background: rgba(39, 39, 39, 0.8) !important;
	backdrop-filter: blur(10px);
}
.banner-btn span {
  text-shadow: 2px 2px #000;
}

.v-text-field {
  margin-bottom: 12px;
}

.v-messages, .v-select__selection {
  padding-left: 8px;
}

.v-text-field__slot input, .v-text-field__slot textarea {
  padding: 8px 0 8px 8px;
}

.v-text-field__slot label, .v-select__slot label {
  padding-left: 8px;
}

.v-label--active {
  top: 2px !important;
}

.texture-img {
  max-height: 256px;
  max-width: 256px;
}

/* disabled because of the texture gallery modal */
/* .texture-img:hover {
  cursor: pointer;
} */

.texture-img > .v-image__image {
  background-size: contain !important;
  image-rendering: pixelated;
}

img.texture-img {
  object-fit: contain;
  image-rendering: pixelated;
}

.texture-background > .v-image__image {
  image-rendering: pixelated;
  background-repeat: repeat;
  background-size: auto;
}

.texture-tooltip {
  max-height: 256px;
  min-width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  font-size: larger;
}

.texture-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.texture-tags-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.texture-info-container > ul {
  list-style: none;
}

.encased {
  padding: .2rem .4rem;
  margin-bottom: 5px;
  margin-right: 5px;
	border-radius: 3px;
  background-color: #272727;

  -webkit-box-shadow: 2px 2px 8px 2px rgba(0,0,0,.7); 
  box-shadow: 2px 2px 8px 2px rgba(0,0,0,.7);
}

.v-chip {
  border-radius: 4px !important;
}
.v-chip__content > .v-avatar {
  border-radius: 0 !important;
}

.compliance-font {
  font-family: Compliance;
}

h2.compliance-font {
  font-weight: 600;
}

.router-link {
  padding: 8px 16px;
  width: 100%
}

.router-link:hover {
  background-color: rgba(255,255,255,.3);
}

blockquote {
  margin-left: 15px;
  border-left: 5px solid rgba(255,255,255,.3) ;
  padding-left: 10px;
}

.profileList {
  background-color: #0000 !important;
  border-radius: 3px !important;
  margin-bottom: 10px;
  padding: 30px 5px 20px 5px;
}

.v-input__control {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
}

.height-90 {
  max-height: 90px !important;
}

.transparent-input > .v-input__control > .v-input__slot{
  backdrop-filter: none !important;
}

.v-application--is-ltr .v-text-field .v-input__append-inner {
  margin-right: 4px;
}

.v-input--selection-controls {
  margin-top: 0px !important;
}

.v-btn__content > .v-input--selection-controls {
  margin-top: 16px !important;
}

.small-appbar > * {
  justify-content: space-between;
}

/* required class */
.my-editor {
  /* we dont use `language-` classes anymore so thats why we need to add background and text color manually */
  background: #2d2d2d;
  color: #ccc;

  /* you must provide font-family font-size line-height. Example: */
  font-family: Fira code, Fira Mono, Consolas, Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px;
}

/* optional class for removing the outline */
.prism-editor__textarea:focus {
  outline: none;
}

.prism-editor-wrapper.fixed-height {
  height: 200px;
  border-radius: 4px;
}

.uppercased {
  text-transform: uppercase;
  letter-spacing: .0892857143em;
  font-weight: 500;
  font-size: .775rem;
}

.uppercased-unsized {
  text-transform: uppercase;
  letter-spacing: .0892857143em;
  font-weight: 500;
}

.markdown > h1 {
  font-size: 1.3em;
  padding-bottom: 8px;
}
.markdown > h2 {
  font-size: 1.2em;
  padding-bottom: 6px;
}
.markdown > h3 {
  font-size: 1.1em;
  padding-bottom: 5px;
}
.markdown > h4 {
  font-size: 1em;
  padding-bottom: 4px;
}
.markdown > h5 {
  font-size: .9em;
  padding-bottom: 3px;
}
.markdown > h6 {
  font-size: .8em;
  padding-bottom: 2px;
}
.markdown > p, .markdown > blockquote > p, .markdown > * > li,
.markdown > table > * > * > * {
  font-size: .7em;
  line-height: 1.5em !important;
}
.markdown > blockquote {
  margin-left: 7.5px;
  border-left: 2.5px solid rgba(255,255,255,.3);
  padding-left: 5px;
}

 pre {
  background-color: hsla(0,0%,100%,.1);
  color: currentColor;
  border-radius: 2px;
}

code {
  background-color: transparent !important;
}

.upload-file-input .v-card, .upload-file-input .v-card * {
  transition: all .25s ease;
}
.upload-file-input .v-card, .upload-file-input .v-card.error {
  background: transparent !important;
}
.upload-file-input .v-card {
  border: 2px dashed #eee;
  border-radius: 5px;
}
.upload-file-input .v-card .v-icon {
  cursor: pointer;
}
.upload-file-input .v-card .d-flex .v-icon {
  margin-top: 16px;
  margin-bottom: 0;
}
.upload-file-input .v-card.dragover {
  border-color: currentColor;
}

.upload-file-input .v-card .upload-reset-button {
  padding-left: 0;
  padding-right: 0;
  width: 0;
  overflow: hidden;
  transition: all 1s ease;
}
.upload-file-input .v-card .upload-reset-button.clear {
  width: auto;
  padding-left: 12px;
  padding-right: 12px;
  overflow: initial;
}

.upload-file-input .v-messages {
  line-height: 1;
  min-height: auto;
}

.upload-file-input .v-card.dragover .d-flex .v-icon {
  margin-top: 10px;
  margin-bottom: 6px;
}
.upload-file-input .v-card.dragover .upload-label {
  color: white;
}

.v-image__image--preload {
  filter: none !important;
  width: 50%;
  margin-left: 25%;
}

.gallery-textures-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery-texture-in-container {
  height: 256px; 
  width: 256px; 
  max-width: 256px;
  margin: 5px;
  text-align: center;
  position: relative;
}

.not-done {
  padding: 0.25rem;
  text-align: center;
}
.not-done, .not-done > span {
  height: 100%;
}
.not-done > * {
  vertical-align: middle;
  display: inline-block;
}
.not-done > span + div {
  width: 100%;
}

.gallery-texture-background, 
.gallery-texture-image {
  position: absolute;
  max-height: 256px;
  max-width: 256px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}

.gallery-texture-image {
  top: 0;
  left: 0;
}

.gallery-texture-image:hover {
  cursor: pointer;
}

.gallery-texture-background > .v-image__image {
  image-rendering: pixelated;
  background-repeat: repeat;
  background-size: auto;
}

.gallery-dialog-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 10px;
}

.gallery-dialog-textures {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.gallery-dialog-texture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.gallery-dialog-texture {
  height: 196px;
  width: 196px;
  position: relative;
}

.gallery-dialog-texture > * {
  position: absolute;
  height: 196px;
  width: 196px;
}

.theme--dark.v-data-table {
  background-color: rgba(0,0,0,.2);
  padding: 5px;
}

.double_table {
  display: flex;
  flex-direction: row;
}

.double_table > div {
  width: 50%;
}

.go_up_btn {
  position: fixed;
  bottom: 64px;
  right: 64px;
  z-index: 202;
}

.go_up_btn:hover {
  cursor: pointer;
}

.list-item-inline {
  padding-left: 0;
  padding-right: 0;
}

.v-list-item__title, .v-list-item__subtitle {
  word-break: break-word;
  white-space: normal;
}

.v-dialog > .v-card > .v-card__subtitle, .v-dialog > .v-card > .v-card__actions {
  padding-left: 24px;
  padding-right: 24px;
}

.v-list-item__action.merged {
  margin-top: 4px;
  margin-bottom: 4px;
  flex-direction: row;
  align-self: center;
}

/* Stylised pill button paths */
.v-list-item__action.merged .v-btn {
  display: inline-block;
  border-radius: 0;
}
.v-list-item__action.merged .v-btn:first-child {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.v-list-item__action.merged .v-btn:last-child {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.v-dialog {
  margin: 10px;
}

body .texture-avatar {
  height: 64px !important;
  min-width: 64px !important;
  background: rgba(39, 39, 39, 0.8);
  padding: 0 10px 0 10px;
  border-radius: 4px !important;
  width: fit-content !important;
}